
.titleH2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    color: #0000008c;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.titleH4 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: #0000008c;
    text-align: center;
}